@model List<strongly_typed_views_in_asp.net_core.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    foreach (var item in Model)
        {
            <h2> @item.Empid</h2>
            <h2> @item.Empname</h2>
            <h2> @item.designation</h2>
            <h2> @item.salary</h2>
            <p>-----------</p>
        }
}